<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOGUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>IOIni.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>IORunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IORunnerExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>IORunnerInstaller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>IORunner_GUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TestHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE2177101D3D0A4B000C21B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE619D221D3E0744000BAA1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE689F191D2690FA00990792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE9F8EFB1D353BFB006F9B9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE9F8F041D353BFB006F9B9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEA356D11D34D7D300BE6E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEA356DD1D34EED100BE6E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEA356EB1D34EFB600BE6E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEC3E5AB1D3579CA00FB1662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEE47B041D3A7EBE00D55F92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_BouncyProcessChecker</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Data</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_File</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_INIParser</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Stream</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_String</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_System</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Venice</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_ini</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
