<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BashScriptHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>BouncyHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>DovecotHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>IOGUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>IOIni.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>IORunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IORunnerExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>IORunnerInstaller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>IORunner_GUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MysqlHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>NginxHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>OpendkimHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>PHPFastCGIHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PostfixHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SSHHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>TestHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE1AEF891D7ADDCD005821CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE1F93391D5D9A6B008AC538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE2177101D3D0A4B000C21B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE619D221D3E0744000BAA1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE689F191D2690FA00990792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE9F8EFB1D353BFB006F9B9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE9F8F041D353BFB006F9B9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEA356D11D34D7D300BE6E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEA356DD1D34EED100BE6E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEA356EB1D34EFB600BE6E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEC3E5AB1D3579CA00FB1662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEE47B041D3A7EBE00D55F92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEEC716E1D68F3460009D3E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEED71181D49D9B300D33A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEFBEA081D61D0BA008BA2D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEFBEA1D1D61E802008BA2D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEFBEA321D61FA4D008BA2D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEFBEA461D61FBC5008BA2D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEFBEA541D61FCE4008BA2D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEFBEA681D620146008BA2D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEFBEA7C1D620446008BA2D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEFBEA901D620F77008BA2D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_BouncyProcessChecker</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Data</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_File</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_INIParser</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Stream</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_String</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_System</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Venice</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_ini</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
